---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=5&location=New%20Orleans&term=music%20venue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Hide_Yo_Keys
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 99d24101a4033772
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4982'
      X-Routing-Service:
      - routing-main--useast1-7955d89dc6-r4vvx; site=public_api_v3
      Ratelimit-Resettime:
      - '2022-09-18T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-164-1-useast1bprod
      X-Extlb:
      - 10-65-164-1-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "RvTHIKHaPVVp8S9cihpi5w", "alias": "the-spotted-cat-music-club-new-orleans",
        "name": "The Spotted Cat Music Club", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/kcOgu2eDQbJne56DWvJ_qQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-spotted-cat-music-club-new-orleans?adjust_creative=lEP9cBAeECfg4vQqgY1eNA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=lEP9cBAeECfg4vQqgY1eNA",
        "review_count": 919, "categories": [{"alias": "jazzandblues", "title": "Jazz
        & Blues"}, {"alias": "bars", "title": "Bars"}, {"alias": "musicvenues", "title":
        "Music Venues"}], "rating": 4.5, "coordinates": {"latitude": 29.964090152963,
        "longitude": -90.057709682929}, "transactions": [], "price": "$$", "location":
        {"address1": "623 Frenchmen St", "address2": "", "address3": "", "city": "New
        Orleans", "zip_code": "70116", "country": "US", "state": "LA", "display_address":
        ["623 Frenchmen St", "New Orleans, LA 70116"]}, "phone": "", "display_phone":
        "", "distance": 2663.776254165871}, {"id": "m5-FtgWRd4qA7j0vaOXiXQ", "alias":
        "preservation-hall-new-orleans-2", "name": "Preservation Hall", "image_url":
        "https://s3-media1.fl.yelpcdn.com/bphoto/eZNxeXnN9CHBiwqYkBHI-A/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/preservation-hall-new-orleans-2?adjust_creative=lEP9cBAeECfg4vQqgY1eNA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=lEP9cBAeECfg4vQqgY1eNA",
        "review_count": 779, "categories": [{[...]
